<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/dashboard">ByteBuss</a>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/home" routerLinkActive="active-link">Comprar</a></li>
    <li><a routerLink="/mis-viajes" routerLinkActive="active-link">Mis Viajes</a></li>
  </ul>
  <div class="navbar-user">

    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/login" class="login-button">Iniciar Sesión</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn$ | async">
      <div *ngIf="currentUser$ | async as user" class="user-info">
        <span>{{ user.name }}</span>
        <i class="fas fa-user-circle"></i>
        <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
      </div>
    </ng-container>

  </div>
</nav>
